{% extends "director/header.html" %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-warning border-0">
	<a class="navbar-brand" href="#"><img src="{% static 'img/rgs_logo.png' %}" class="responsive-img" style='height:45px;' alt="face"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Link</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="#">Disabled</a>
		</li>
	  </ul>
	</div>
</nav>
	<div class="container" style="padding-top:100px;">
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title text-warning">Upload content</h5>
						<p class="card-text">Upload videos to RGS store.</p>
						{% include "director/document_form.html" %}
					</div>
				</div>
				<br>
			</div>
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title text-warning">Arrange stream</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-warning">Arrange</a>
					</div>
				</div>
				<br>
			</div>
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title text-warning">Play stream arrangement</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go live</a>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
{% endblock %}